body {
  font-family: sans-serif;
  margin: 2rem;
  background: #f9f9f9;
}

.container {
  display: flex;
  gap: 2rem;
}

.image-container img {
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.chart-container {
  width: 400px;
  height: 300px;
}
#result-chart-1 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
#result-chart-2 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
#result-chart-3 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
#result-chart-4 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
#result-chart-5 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
#result-chart-6 {
  display: block;
  border: 1px solid #ccc;
  background: #f0e5e5;
}
